body {
  margin: 0;
  font-family: 'Marcellus SC', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: white;
}
.App-logo {
  margin-top: 10px; 
  height: 100px;
  pointer-events: none;
  transform: rotate(180deg);
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin 2 20s cubic-bezier(0.08, 0.8, 0.2, 1);
  }
}
@keyframes App-logo-spin {
  0% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(540deg);
  }
}
h1 {
  margin: 30px 0 10px 0;
  font-weight: 400;
  font-size: 36px;
}
h4 {
  margin: 10px;
  margin-bottom: 20px;
}


/* ===== FORM ===== */

form {
  background-color: #3f434b;
  padding: 10px;
  border-radius: 10px;
}
form div {
  margin: 2px 5px 7px;
}
form div label {
  color: #9eb6e6;
}
button {
  background-image: linear-gradient(to right, #1E6BFF 0%, #8122cf 75%, #ae30a3 100%);
  text-decoration: none;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 7px #000;
  margin: 15px;
  padding: 8px 15px;
  transition: 0.5s;
  background-size: 150% auto;
  color: white;
  font-size: 20px;
  font-weight: 800;
  font-family: 'Marcellus SC', 'Helvetica Neue', sans-serif;
  /* -webkit-appearance: none;
  -moz-appearance: none; */
}
button:hover {
  background-position: right center; 
  cursor: pointer;
}


/* ===== TIMES LIST ===== */

.timesListContainer {
  margin-top: 20px;
}
.sortDiv {
  display: flex;
  /* x-axis */
  justify-content: center;
  /* y, makes select the same height as label */
  align-items: center;
}
.sortLabel {
  display: flex;
  color: #deb3ee;
}
select {
  display: flex;
  margin-left: 5px;
  padding: 5px;
}
ol {
  min-width: 300px;
  padding: 0;
  list-style-type: lower-roman;
}
ol li {
  text-align: start;
  margin: 3px 0;
  padding: 5px 10px;
}
li:nth-child(even) {
  background: #3f434b;
}
.time {
  float: right;
}

/* ===== SCROLL ===== */
.scrollUp {
  opacity: 0.4;
  background-color: #3f434b;
  position: fixed;
  font-size: 50px;
  width: 40px;
  height: 40px;
  bottom: 20px;
  right: 20px;
  border: none;
  border-radius: 5px;
  scroll-behavior: smooth;
}
.scrollUp:hover {
  opacity: 1;
  cursor: pointer;
}

/* ===== DESKTOP ===== */

@media screen and (min-width: 1200px) and (min-height: 355px) {
  .App-header {
    font-size: 24px;
  }
  .App-header h1 {
    font-size: 64px;
  }
  form {
    position: fixed;
    z-index: 2;
    left: 3%;
    top: 3%;
  }
  input {
    font-size: 20px;
    padding: 5px;
    display: block;
    margin-top: 5px;
  }
  .sortLabel {
    font-size: 28px;
  }
  .App-logo {
    height: 200px;
  }
}
