body {
  margin: 0;
  font-family: 'Marcellus SC', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 28vmin;
  pointer-events: none;
  transform: rotate(180deg);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin 2 20s cubic-bezier(0.08, 0.8, 0.2, 1);
  }
}

@keyframes App-logo-spin {
  0% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(540deg);
  }
}

h1 {
  margin: 30px 0 10px 0;
  font-weight: 400;
  font-size: 7vh;
}

button {
  background-image: linear-gradient(to right, #1E6BFF 0%, #8122cf 75%, #ae30a3 100%);
  text-decoration: none;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 7px #000;
  margin: 0;
  padding: 8px 15px;
  transition: 0.5s;
  background-size: 150% auto;
  color: white;
  font-size: 20px;
  font-weight: 800;
  font-family: 'Marcellus SC', 'Helvetica Neue', sans-serif;
  /* -webkit-appearance: none;
  -moz-appearance: none; */
}

button:hover {
  background-position: right center; 
  cursor: pointer;
}